
* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  justify-content: space-evenly; 
  background-color:#d4cee7;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #e9e8f5;
}
h1{
  font-family: 'Indie Flower', cursive;
}


/* img {
  display: flex;
  size: 20px;
  radius: 50%;
  background-color: pink;
  333333
  papayawhip
  ac9c93
  #CECED0
  #E1E3E7
} */